/* Parent container styling for each project item */
.project-item {
  position: relative;
  margin-bottom: 30px; /* Space between projects */
  display: flex; /* Flexbox layout to align image and text */
  align-items: flex-start; /* Aligns image with the top of the title */
}

/* Styling for images to be aligned near the title */
.project-item img {
  width: 80px; /* Fixed width for the image */
  height: 80px; /* Fixed height to maintain size */
  object-fit: cover; /* Ensures the image maintains its aspect ratio */
  border-radius: 50%; /* Makes the image a circle */
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  margin-right: 20px; /* Increased space between the image and the text */
}

/* Image colorizes on hover */
.project-item img:hover {
  filter: grayscale(0%);
}

/* Text content container */
.project-item .text-content {
  display: inline-block; /* Allow the text to wrap around the image */
  max-width: calc(100% - 120px); /* Ensure text takes the rest of the space */
  margin-left: 20px; /* Add minimum distance between image text and main text */
  
}


